/* td {
  border: 1px solid rgb(0, 0, 0);
} */
/* th {
  border: 1px solid rgb(0, 0, 0);
} */
#project {
  background-color: var(--warna3);
  border-radius: 20px;
  height: 50%;
  width: 98%;
  margin: auto;
  padding: 32px 64px;
}
.kotak-1 {
  margin-right: 40px;
  margin-bottom: 40px;
}
.kotak-2 {
  margin-right: 40px;
  margin-bottom: 40px;
}
.project-1 {
  display: flex;
  flex-direction: row-reverse; 
  background-color: var(--warna4);
  border-radius: 25px;
  height: 381px !important;
  padding: 20px;
}
img.project-1-cont{
  height: 381px !important;
  background-color: null !important;
}
text.project-1-cont {
  width: 320px !important;
  background-color: null !important;
  margin: 5%;
  text-align: justify;
}
.project-2 {
  display: flex;
  flex-direction: row; 
  background-color: var(--warna4);
  border-radius: 50px;
  height: 381px !important;
  padding: 20px;
}
img.project-2-cont{
  height: 381px !important;
  background-image: null !important;
}
text.project-2-cont {
  width: 320px !important;
  background-color: null !important;
  margin: 5%;
  text-align: justify;
}
.project-3 {
  display: flex;
  flex-direction: row; 
  background-color: var(--warna4);
  border-radius: 50px;
  height: 381px !important;
  padding: 20px;
}
img.project-3-cont{
  height: 381px !important;
  background-color: null !important;
}
text.project-3-cont {
  width: 320px !important;
  background-color: null !important;
  margin: 5%;
  text-align: justify;
}

.table-title {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 47.125px;
}
