@media only screen and (max-width: 960px) {
  
  li a.button {
    margin-right: -24px;
    color: rgb(13, 82, 39);
    font-size: 13px;
  }
  .logo {
    float: left;
    max-width: 20px;
    max-height: 20px;
    width: 10px;
    margin-left: 10px;
  }
  .button {
    font-size: 15px;
  }
  .isi{
    font-size: 18.5px;
    margin-left: 0;
    max-width: 100%;
    align-content: center;
  }
  .imgabout {
    width:300px;
  }
  .kepala {
    background-image: url('../img/headshot-mo.jpg') !important;
  }
  .label {
    color: var(--warna1) !important;
  }
  .menu {
    padding: 8px 20px;
  }
  .sitetitle {
    font-size: 15px;
    margin-top: 20%;
    margin-left: 25px;
    text-align: left !important;
  }
  .text-light {
    color: #404261;
  }
  .about-title {
    font-size: 30px !important;
  }
  .btn-table {
    visibility: hidden;
    height: 0 !important;
  }
  .btn-table-mobile {
    visibility: visible;
    width: 100%;
  }
}
