#header {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1em;
  background-color: #365168;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
.header-inner,
.footer-inner,
.pre-footer-inner .sqs-layout {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header #logoWrapper,
#header #siteTitleWrapper,
#header #headerNav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}
#header #siteTitleWrapper,
#header #siteTitle {
  width: 220px;
}
#header #siteTitle {
  position: relative;
  z-index: 1000;
}
#siteTitle,
#siteTitle a {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: proxima-nova;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1em;
}
.mobile-nav-toggle {
  display: none;
}
#header #headerNav {
  text-align: right;
}
#header #mainNavWrapper {
  position: relative;
  z-index: 1000;
}
body:not(.force-mobile-nav) .nav-wrapper {
  position: relative;
}
#siteWrapper {
  position: relative;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
